# Gemfury repo
--extra-index-url https://pypi.fury.io/xvSRZNrCkiBFXAgMu6Au/ashfire908/

# SleekXMPP
git+https://github.com/fritzy/SleekXMPP.git@new_muc#egg=sleekxmpp

# Hawken API
hawkenapi==0.6.3.2
requests==2.8.1
msgpack-python==0.4.6
redis==2.10.3

# Hawken Tracker
SQLAlchemy==0.9.8
psycopg2==2.5.4

