# Gemfury repo
--extra-index-url https://pypi.fury.io/xvSRZNrCkiBFXAgMu6Au/ashfire908/

# SleekXMPP
git+https://github.com/ashfire908/SleekXMPP.git@hwk#egg=sleekxmpp

# Hawken API
hawkenapi==0.7.1
requests==2.8.1
iso8601==0.1.11
msgpack-python==0.4.6
redis==2.10.3

# Hawken Tracker
SQLAlchemy==0.9.8
psycopg2==2.5.4

